[submodule "drivers/pdo/vendor/idiorm"]
	path = drivers/pdo/vendor/idiorm
	url = git://github.com/Naatan/idiorm.git
[submodule "drivers/pdo/vendor/paris"]
	path = drivers/pdo/vendor/paris
	url = git://github.com/Naatan/paris.git
